.main{
  text-align: center;
}

.container {
  margin-left: 5rem;
}

.addemployee{
  border: 4px solid black;
  border-radius: 10px;
  width: 950px;
  position: absolute;
  z-index: 15;
  top: 30%;
  left: 30%;
  margin: -100px 0 0 -150px;
}

.viewall{
  border: 4px solid black;
  border-radius: 10px;
  width: 950px;
  position: absolute;
  z-index: 15;
  top: 80%;
  left: 30%;
  margin: -100px 0 0 -150px;
}
.a {
  display: inline;
}
.divmain
{
  margin: 50px;
}

.ant-table table { 
  font-size: 20px; 
}

.ant-form-item-label {
  font-size: 20px;
}